<nav class="navbar navbar-dark bg-black">

    <nav class="my-0 mr-md-auto font-weight-normal" style="background-color: red;">
        <a class="p-2 text-dark" routerLink="">Home</a>
        <a class="p-2 text-dark" routerLink="/accordion">Accordion</a>
        <a class="p-2 text-dark" routerLink="/carousel">Carousel</a>
        <a class="p-2 text-dark" routerLink="/modal">Modal</a>
        <a class="p-2 text-dark" routerLink="/type-ahead">Type-ahead</a>
        <a class="p-2 text-dark" routerLink="/pop-over">Pop-over</a>

    </nav>
</nav>    

